extends layout

block contentHeader
  link(rel='stylesheet' type='text/css' href='/static/css/about.css')

block mainContent
  #aboutcontainer
    h2 About Myself
    #spacingheaders
    table
      tr
        td#bio
          :markdown
            I was born in Poland on June 7, 1985 and lived most of my life in Windsor, Ontario. I recently moved to Toronto with my lovely girlfriend Sonja and have been living here for the past three years.
          #spacingcontent
          :markdown
            I am currently teaching myself how to program in JavaScript and other technologies that are closely related. My goal is to become a front end developer and hopefully build something cool that is graphic related with a technology like WebGL. I am always learning and spend most of my time on the computer, reading and trying all sorts of new technologies. I also contribute to Mozilla on a daily basis via QA and bug fixes here and there. I plan on contributing even more as I develop my skills.
        td#bioimage
          img(src='/static/img/personal.jpg')

    h3 Facts about myself:
    #spacingheaders
    :markdown
      + I enjoy smoking cigars and have a personal humidor that I like to keep stocked with my favorite cigars from around the world
      + I love lifting weights and try hitting the gym at least 4-5 times a week whenever possible
      + I currenlty live with Sonja who I have been with for about six years now and plan on marrying eventually
      + Like trying new beers from around the world
      + There's nothing better than having a good one on one conversation with a friend over some beers (learn lot about a person)
      + My dream is to work for Mozilla one day as I believe they are doing great things for the web and I would love to be a part of it
      + Two of my personal hero's are Arnold Schwarzenegger and John Carmack
      + I enjoy gaming here and there when time permits (especially checking out the latest graphics technology)
      + Staying up to date with the latest computer hardware, especially GPU's
      + Enjoy reading and wouldn't know what to do without my Kindle
      + Some of my favorite movies are: Lord of War, Commando, Terminator 2, Predator, The Corporation (to many documentaries to list!)
      + Some of my favorite shows are: Breaking Bad, South Park, Boardwalk Empire, The Big Bang Theory, The Universe, Trailer Park Boys, Game of Thrones
      + Love constantly learning about different subjects from websites such as Khan Academy
