extends layout

block contentHeader
  link(rel='stylesheet' type='text/css' href='/static/css/contact.css')

block mainContent
  #contactcontainer
    h2 Contact Information
    #spacingbottomtop
      | You can contact me using the following comunication channels: (Please, no SPAM!!)
    #spacingbottomtop
      ul
        #indentlists
          li Email: kamiljoz [at] gmail.com
          li Social Networks: (use the buttons located at the top right corner of the screen)
          li IRC: :kjozwiak (irc.mozilla.org:6667, usually in: #windev, #qa, #firefox, #automation)
    #spacingbottomtop
    | For those wearing tin foil hats, you can use the following PGP key for secure communication:
    #spacingbottomtop
    #pgpblock
      | -----BEGIN PGP PUBLIC KEY BLOCK-----
      | Version: GnuPG v2.0.22 (MingW32)
      #spacingbottomtop
      | mQENBFJkjSwBCADDECviri0GBR/T3WjZlaNLYI3aH6IjPEEmrtC+sdSiBO6HR7bi
      | Z5JuqpkRqgChDpn8s22eMqvajz9ybtrrJ04jcYVuhj7nxM2wV1rIt+mabZ4n+U1T
      | KvAOgPtbwA4ZFAbFBVgimOjjiyZ8PbYHAGYjzDsyk4oKIrODhBR55kOLSx28nr2r
      | SNDag6E+imdUgx6EAiPSZh/b8HtZf6ycTTR+m2SATaxy/gccc8QRluE/snolmQYk
      | Z/axpG+3YhljrcGWJnM51WhzfViZTeUewqqjw4RzlJF0OzVd7EjZoMUhwXf3ecBY
      | ZFLOxAKPxnrB1TB8tv54wa2wsIr4w9GSQBilABEBAAG0IkthbWlsIEpvendpYWsg
      | PGthbWlsam96QGdtYWlsLmNvbT6JATkEEwECACMFAlJkjSwCGw8HCwkIBwMCAQYV
      | CAIJCgsEFgIDAQIeAQIXgAAKCRD+it7rXghLb7HWB/wNtCVyuGqTZb9ivIifQkiR
      | bS9CRfS1c3IwaOj2oJ64B6hkvpGV9Y3n+TNWuhYtRmY+MR/gyf4WZdA/CQqIW4V9
      | 3KF4GZHXWjyP+cJMyWbolvua9nh2h75KYdQJq7TRJviI4e0meiaXuX6h69PZSG57
      | a1mYSLdJf1D7pfuJGd06hD4108G3//i4sK+dpNeYKzBuoWBGBAlsp2loVWYJZxZu
      | 45qKGmjQROcIhwF2qjCZwEPRNaH7IlPdnuIz4cAr1ri7I5+ww0446JLMG5O79flt
      | 0qwViGh3NHhcSxHHnJYZlH1ON1pcqltDznQSx4FwuWxMYQ0IuyYYrtHLSlPWpO4e
      | =ye/X
      | -----END PGP PUBLIC KEY BLOCK-----
