extends layout

block contentHeader
  link(rel='stylesheet' type='text/css' href='/static/css/contact.css')

block mainContent
  #contactcontainer
    h2 Contact Information
    #spacingbottomtop
      | You can contact me using the following communication channels: (Please, no SPAM!!)
    #spacingbottomtop
      ul
        #indentlists
          li
            :markdown
              **Email:** kamiljoz [at] gmail.com
          li
            :markdown
              **Social Networks:** (use the buttons located at the top right corner of the screen)
          li
            :markdown
              **IRC:** :kjozwiak (irc.mozilla.org:6667, usually in: #windev, #qa, #firefox, #automation)
    #spacingbottomtop
    | Please report all issues/bugs by
    a(href='https://github.com/kjozwiak/kamiljozwiak.com/issues?state=open', target='_blank')
      |  Clicking Here!
    #spacingbottomtop
    | For those wearing tin foil hats, you can use the following PGP key for secure communication:
    a(href='https://s3.amazonaws.com/sharedpublicitems/4C29DE7D40F19014712751D62E07D41526DC4EBD.asc', target='_blank')
      |  PGP Key