extends layout

block contentHeader
  link(rel='stylesheet' type='text/css' href='/static/css/contact.css')

block mainContent
  #contactcontainer
    h2 Contact Information
    #spacingbottomtop
      | You can contact me using the following communication channels: (Please, no SPAM!!)
    #spacingbottomtop
      ul
        #indentlists
          li
            :markdown
              **Email:** kamiljoz [at] gmail.com
          li
            :markdown
              **Social Networks:** (use the buttons located at the top right corner of the screen)
          li
            :markdown
              **IRC:** :kjozwiak (irc.mozilla.org:6667, usually in: #windev, #qa, #firefox, #automation)
    #spacingbottomtop
    | Please report all issues/bugs by
    a(href='https://github.com/kjozwiak/kamiljozwiak.com/issues?state=open', target='_blank')
      |  Clicking Here!
    #spacingbottomtop
    | For those wearing tin foil hats, you can use the following PGP key for secure communication:
    #spacingbottomtop
    #pgpblock
      | -----BEGIN PGP PUBLIC KEY BLOCK-----
      | Version: GnuPG/MacGPG2 v2.0.22 (Darwin)
      | Comment: GPGTools - https://gpgtools.org
      #spacingbottomtop
      | mQENBFOPQ5gBCADHLz28rmQHK5svbjkab5RG2xoMuNA2TloyrYLyMveGxolPHBUR
      | J2FTqSH7P8srKSRG/oTLVBbebrd1fZAwuU45UFBDHr78VxmMTidUENVVaD0VtrWG
      | 5fWdU/+uT7JipyR61Xh4Ou2CrEpzhQi6Xv6F+Q9zPWKHHyntRxLGYE1BeSqxpYDr
      | hUVgvgvZ7OZZ1s2MYz5100Mr4v7Efg95y2mIjxl0viIRqTJRRsGHA/+bnuEy8qyk
      | 3BX4qVrXKAyIRo/u+8KKIrQcWqHS71l9hvNqt0hxmyGk5yCRAMZVDYOpyyA+NHIJ
      | QU/mnjYrYu0pInFxEkjpJg/S2ght31eEzgvLABEBAAG0IkthbWlsIEpvendpYWsg
      | PGthbWlsam96QGdtYWlsLmNvbT6JAT0EEwEKACcFAlOPQ5gCGwMFCQeGH4AFCwkI
      | BwMFFQoJCAsFFgIDAQACHgECF4AACgkQLgfUFSbcTr2USgf7Boj2B2desi72mHXl
      | FCv8lhg1FzzLGWnyMksJCDaaunR/f2ksEKB5lxAT0ceG/9P038aq+Jb/a7l+Z+fl
      | +Q5ieQj25tSVwz3IKoM2URNsFYF/DaY78mbDj7YVFhb06vk8ds6D6V2vA40ehaam
      | H/6HhIzE+IasH2KtOOcy2SO8hkf28B7D8NEOAZQ7SyI1zoswdSfjAjHggxFq8heS
      | /dkQY+18V1AZP4Q6gyoxctpU5R3ZdetZgkwa/QXihaKQnScUUnyF3XpwTFDHR4b/
      | GbMgztLT0lKL2Fh0TDiGvuu0bJPBh9jqcABrdEfpbvFXfl+8lI4D6AsGjP3fq+O6
      | woRCE7kBDQRTj0OYAQgAm70Kb8u56Wypms6OUG16S23jhTnAVZYrJWH3aRS8+PpQ
      | ZJNo8bQkbuNUQipcgel0GuqnAw+UtTGKO3T4cDVEph4c5jfHdWFZ6cZ43pkqREm9
      | Mqxo7w3FYK/SzsPK8cKe7uAClnuSOENHCTOZM/AgHB+A1IsLN8WyYYVm6QUeh36g
      | qVqjxHJPz2SD5McBhlsnDehsnYREPA0RwFWj7kj1UzvBTEt7d3ceNGGoI8M6giew
      | FVTEuNQcDb4HpQJj4rqoSJQzuidhWjm4Ri18n3gBcGsoCR46v/7bhyomf9RGcCiJ
      | IF0/w1MnHa7PWIwH/48fNcSnGuHbDbOhaBF3OyW7wwARAQABiQElBBgBCgAPBQJT
      | j0OYAhsMBQkHhh+AAAoJEC4H1BUm3E6934YH/1Z1kA7d1GeKNpa5cU66LsCjOhx9
      | ktuVDfony1MvQRpjtyuWjdtnK0PDkrR8labzelJXg17FOFx+ym6rt8k5pZDinGWT
      | NqN3mfU+mh6tBigJUXk74oStsSeha8KEdltyPgfEOv8f77kxIHao5q+r7v0PzkUE
      | fEu065fbpIR914wzqSG5uI10395qdP4/gcViA2GXae0JtAogoSWdUNhSchbxS7GE
      | 0eUgZOA/W7+Xr8kp7c4o8LbywYDZ4i3N7fuArPa2l5UCBz5sfkof8lr8kmizJXmH
      | VauQM4vJ7dFLxskUUuECKiBVf1OwavxMeuNs9l5BZbjc3XDpATRnCTV2BfI=
      | -----END PGP PUBLIC KEY BLOCK-----
