extends layout

block contentHeader
  link(rel='stylesheet' type='text/css' href='/static/css/index.css')

block mainContent
  #myBlogPosts
    h2 Blogs
    h4 Personal experiences and other interesting things
    #spacingHeader
    each blog in blogArray
      p.blogTitle= blog.title
      p.blogDates= "Posted on: " + blog.postedOnDate + " - " + "Last Modified: " + blog.lastModifiedDate
