doctype 5
html(lang="en")
  head
    title= pageTitle
    link(rel='shortcut icon' href='/static/img/favicon.ico')
    link(rel='stylesheet' type='text/css' href='/static/css/main.css')
    script(type='text/javascript', src='/static/js/analytics.js')

  body(id=bodyID)
    #headercontainer
      img#imageHeader(src='/static/img/header.jpg')
      a#logo(href='/') Kamil Jozwiak's Blog
      #socialmediacontainer
        ul#socialnav
          li.linksocial: a(href='https://twitter.com/kamiljozwiak', target='_blank')
              img(src='/static/img/twitter-icon.png')
          li.linksocial: a(href='https://github.com/kjozwiak/', target='_blank')
              img(src='/static/img/github-icon.png')
          li.linksocial: a(href='https://bugzilla.mozilla.org/user_profile?login=kamiljoz%40gmail.com', target='_blank')
              img(src='/static/img/firefox-icon.png')

    #navmenu
      ul
        li: a(href='/'): span Home
        li: a(href='/'): span Resume
        li: a(href='/'): span About
        li: a(href="/"): span Contact

    block mainContent
