doctype 5
html(lang="en")
  head
    title= pageTitle
    link(rel='shortcut icon' href='/static/img/favicon.ico')
    link(rel='stylesheet' type='text/css' href='/static/css/main.css')
    link(rel='stylesheet' href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
    script(type='text/javascript', src='/static/js/analytics.js')

    block resumeHeader

  body(id=bodyID)
    #headercontainer
      #header
        img#imageheader(src='/static/img/header.jpg')
        a#logo(href='/') Kamil Jozwiak's Blog
        ul#socialnav
          li: a(href='https://twitter.com/kamiljozwiak', target='_blank')
            i(class='fa fa-twitter-square fa-inverse fa-2x')
          li: a(href='https://github.com/kjozwiak/', target='_blank')
            i(class='fa fa-github-square fa-inverse fa-2x')
          li: a(href='http://ca.linkedin.com/pub/kamil-jozwiak/16/140/207/', target='_blank')
            i(class='fa fa-linkedin-square fa-inverse fa-2x')
          li: a(href='https://bugzilla.mozilla.org/user_profile?login=kamiljoz%40gmail.com', target='_blank')
            i(class='fa fa-bug fa-inverse fa-2x')

      #navmenu
        ul
          li: a(href='/'): span Home
          li: a(href='/resume'): span Resume
          li: a(href='/'): span About
          li: a(href="/"): span Contact

      #content
        block mainContent

      #footer
        ul.navigationbottom
          li: a(href='/') Home
          li: a(href='/resume') Resume
          li: a(href='/') About
          li: a(href='/') Contact
        ul.bottomcontent
          li: &copy; Copyright Kamil Jozwiak
