extends layout

block contentHeader
  link(rel='stylesheet' type='text/css' href='/static/css/projects.css')

block mainContent
  #projectscontainer
    h2 Current Projects
    #spacing
      :markdown
        The following is a list of projects that I am currently working on or have already been completed. The main goal for each project is either:
      #indentlists
        :markdown
          * Learing new technologies
          * Learning and improving my programming skills (JS/CSS)
      #spacing
      h3 This website (my personal blog)
      h4 Current Status:
        span#status  Ongoing
      #indentlists
        :markdown
          * Learned about a variety of different technologies such as node.js, express, jade and mardown
          * One of the other main reasons for creating this blog was to learn and improve my JS/CSS
          * Would like to eventually incorporate technologies such as WebGL, three.js and others into this website
      #spacing
      h3 Rat Hunter (RPG game)
      h4 Current Status:
        span#status  Ongoing
      #indentlists
        :markdown
          * Learning and grasping programming concepts (Object-oriented programming, recursion etc..)
          * Learning JavaScript/Canvas (a bit more advanced than the PONG game mentioned below)
          * Code available under my GitHub account (use the social icons at the top right of the screen)
      #spacing
      h3 PONG
      h4 Current Status:
        span#status  Ongoing
      #indentlists
        :markdown
          * Started learning JavaScript with this game
          * Planning on adding levels, game menu and better physics
          * Would like to add partice splashes when the ball hits the wall
          * Implementing prototypes
