extends layout

block contentHeader
  link(rel='stylesheet' type='text/css' href='/static/css/reading.css')

block mainContent
  #projectscontainer
    h2 Currently Reading
    #spacing
      :markdown
        Rather than listing each book that I've read, I'm going to start listing everything via Goodreads. If you're interested in what I've read or what I'm currently reading, just click on the link below:
    #spacingcontent
        a.externalLinks(href='https://www.goodreads.com/review/list/39362551?shelf=read', target='_blank')  Goodreads Library
