extends layout

block contentHeader
  link(rel='stylesheet' type='text/css' href='/static/css/reading.css')

block mainContent
  #projectscontainer
    h2 Currently Reading
    #spacing
      :markdown
        The following is a list of books that I'm currently reading:
    #spacing
      :markdown
        Ready Player One: A Novel
      h5 Current Status:
        span.statusOngoing  Currently in Progress
      a.externalLinks(href='http://www.amazon.com/Ready-Player-One-Ernest-Cline/dp/0307887448/', target='_blank')  [Amazon]
    #spacing
      :markdown
        A How Google Tests Software
      h5 Current Status:
        span.statusOngoing  Currently in Progress
      a.externalLinks(href='http://www.amazon.com/Google-Tests-Software-James-Whittaker/dp/0321803027/', target='_blank')  [Amazon]
    #spacing
    h2 Completed Books
    #spacing
      :markdown
        The following is a list of all the books that I've already completed reading:
    #spacing
      :markdown
        A Dance with Dragons - A Song of Ice and Fire [Book #5]
      h5 Current Status:
        span.statusCompleted  Completed (May 2014)
      a.externalLinks(href='http://www.amazon.com/Dance-Dragons-Song-Fire-Book/dp/0553582011/', target='_blank')  [Amazon]
    #spacing
      :markdown
        A Feast of Crows - A Song of Ice and Fire [Book #4]
      h5 Current Status:
        span.statusCompleted  Completed (April 2014)
      a.externalLinks(href='http://www.amazon.com/Feast-Crows-Song-Fire-Thrones/dp/055358202X/', target='_blank')  [Amazon]
    #spacing
      :markdown
        Mike Tyson - Undisputed Truth
      h5 Current Status:
        span.statusCompleted  Completed (March 2014)
      a.externalLinks(href='http://www.amazon.com/Undisputed-Truth-Mike-Tyson/dp/0399161287/', target='_blank')  [Amazon]
    #bookSpacing
      :markdown
        The One World Schoolhouse: Education Reimagined
      h5 Current Status:
        span.statusCompleted  Completed (March 2014)
      a.externalLinks(href='http://www.amazon.com/The-One-World-Schoolhouse-Reimagined/dp/B00E8UZO72/', target='_blank')  [Amazon]
    #bookSpacing
      :markdown
        Stay Awhile and Listen: How Two Blizzards Unleashed Diablo and Forged a Video-Game Empire - Book I
      h5 Current Status:
        span.statusCompleted  Completed (March 2014)
      a.externalLinks(href='http://www.amazon.com/Stay-Awhile-Listen-Blizzards-Video-Game-ebook/dp/B00G8UL474/', target='_blank')  [Amazon]
    #bookSpacing
      :markdown
        Masters of Doom: How Two Guys Created an Empire and Transformed Pop Culture
      h5 Current Status:
        span.statusCompleted  Completed (February 2014)
      a.externalLinks(href='http://www.amazon.com/Masters-Doom-Created-Transformed-Culture/dp/0812972155/', target='_blank')  [Amazon]
    #bookSpacing
      :markdown
        The Lean Startup: How Today's Entrepreneurs Use Continuous Innovation to Create Radically Successful Businesses
      h5 Current Status:
        span.statusCompleted  Completed (February 2014)
      a.externalLinks(href='http://www.amazon.com/The-Lean-Startup-Entrepreneurs-Continuous/dp/0307887898/', target='_blank')  [Amazon]
    #bookSpacing
      :markdown
        A Storm of Swords - A Song of Ice and Fire [Book #3]
      h5 Current Status:
        span.statusCompleted  Competed (December 2013)
      a.externalLinks(href='http://www.amazon.com/Storm-Swords-Song-Fire-Book/dp/055357342X', target='_blank')  [Amazon]
    #bookSpacing
      :markdown
        A Clash of Kings - A Song of Ice and Fire [Book #2]
      h5 Current Status:
        span.statusCompleted  Competed (November 2013)
      a.externalLinks(href='http://www.amazon.com/Clash-Paperback-Author-George-Martin/dp/B00EOHJ5FQ', target='_blank')  [Amazon]
    #bookSpacing
      :markdown
        A Game of Thrones - A Song of Ice and Fire [Book #1]
      h5 Current Status:
        span.statusCompleted  Competed (August 2013)
      a.externalLinks(href='http://www.amazon.com/Game-Thrones-Song-Fire-Book/dp/0553593714/', target='_blank')  [Amazon]
    #spacing
    h2 Books in Queue:
    #spacing
      :markdown
        The following is a list of books that I'm planning on reading:
    #bookSpacing
      :markdown
        JavaScript: WebGL: Up and Running
      h5 Current Status:
        span.statusOngoing  In Queue
      a.externalLinks(href='http://www.amazon.com/WebGL-Up-Running-Tony-Parisi/dp/144932357X/', target='_blank')  [Amazon]
    #bookSpacing
      :markdown
        Programming 3D Applications with HTML5 and WebGL: 3D Animation and Visualization for Web Pages
      h5 Current Status:
        span.statusOngoing  In Queue
      a.externalLinks(href='http://www.amazon.com/Programming-Applications-HTML5-WebGL-Visualization/dp/1449362966/', target='_blank')  [Amazon]
    #bookSpacing
      :markdown
        JavaScript: The Good Parts
      h5 Current Status:
        span.statusOngoing  In Queue
      a.externalLinks(href='http://www.amazon.com/JavaScript-Good-Parts-Douglas-Crockford/dp/0596517742/', target='_blank')  [Amazon]
