extends layout

block mainContent
  h2 Kamil Jozwiak's Resume
  h3 kamiljoz@gmail.com

  p
    h4 Technical Proficiency

    ul
      li Strong understanding of SDLC and PMLC methodologies
      li Multi-tiered technical support skills (L1, L2 and L3 support)
      li Strong understanding of IT Security (Computer, Network, Policies and Methodologies)
      li Familiar with database concepts namely MSSQL, SQLite
      li Windows, Linux, OSX
      li Using bug tracking and QA software (JIRA, BugZilla, Basecamp, Glasscubes)
      li Virtualization technology (VMware ESXi, VMware Workstation/Server, VirtualBox)
      li JavaScript , XUL, XPCOM, node.js, CSS
