extends layout

block contentHeader
  link(rel='stylesheet' type='text/css' href='/static/css/resume.css')

block mainContent
  #resumecontainer
    h2 Kamil Jozwiak's Resume
    h3 kamiljoz@gmail.com

    #spacingheaders
    h3 Technical Proficiency:
    #spacingheaders
    ul
      #indentlists
        li Strong understanding of SDLC and PMLC methodologies
        li Multi-tiered technical support skills (L1, L2 and L3 support)
        li Strong understanding of IT Security (Computer, Network, Policies and Methodologies)
        li Familiar with database concepts namely MSSQL, SQLite
        li Windows, Linux, OSX
        li Using bug tracking and QA software (JIRA, BugZilla, Basecamp, Glasscubes)
        li Virtualization (VMware ESXi, VMware Workstation/Server, VirtualBox)
        li XUL, XPCOM
        li JavaScript, CSS
        li Node, jade, express, markdown

    #spacingheaders
    h3 Education
    #spacingheaders
    #indentnonelists
      h4 St. Clair College: Computer System Networking Technician Diploma
      | Windsor, Ontario - September 2005 through May 2006
      #spacingcontent
      | Math for information technology, database concepts, network security, technical communication, law and ethics in the information age, system configuration, WAN/LAN networking, Linux, Windows Servers, help desk, internet technologies

      #spacingcontent
      h4 St. Clair College: Computer Programming Diploma
      | Windsor, Ontario - September 2003 through May 2006
      #spacingcontent
      | Computer programming concepts, advance VB.NET concepts, database concepts, Java programming, XML technologies, web development using .NET technologies, PHP, HTML/CSS, JavaScript, spreadsheets

    #spacingheaders
    h3 Professional Experience:
    #spacingheaders
    #indentnonelists
      h4 Mozilla
      | Toronto, Ontario - January 2014 through Present
      #spacingcontent

    #spacingheaders
    #indentnonelists
      h4 Mozilla (Contrubutor)
      | Toronto, Ontario - October 2012 through January 2014
      #spacingcontent
      ul
        #indentlists
          li Testing and verifying that issues have been resolved
          li Using virtualization software to ensure the issue has been fixed on multiple platforms
          li Firefox Metro iteration testing and triage
          li Communicating and coordinating with Firefox QA Lead on what needs to be tested and verified
          li Implemented automated mochitests
          li Moderating monthly QA test days

    #spacingheaders
    #indentnonelists
      h4 VerifEye Technologies
      | Toronto, Ontario - October 2010 through January 2014
      #spacingcontent
      ul
        #indentlists
          li Creating test plans for various software applications
          li Finding inconsistencies in UI and UX design and implementation
          li Putting several different software suites through several tests to ensure there are no issues
          li Traveling and training corporate clients/customers
          li Maintaining data integrity of companies internal RMA (Return Merchandise Authorization) system
          li Creating monthly reports and statistics on products from the RMA system for upper management
          li Using basecamp to communicate with different internal teams around the world
          li Using the JIRA bug tracker to create, edit and close software issues for various software products
          li Dealing with customers and troubleshooting issues in person, through the phone and remote login
          li Creating and maintaining several internal and external documents

    #spacingheaders
    #indentnonelists
      h4  VisionWorks Solutions (ROBObak)
      | Windsor, Ontario - June 2006 through January 2010
      #spacingcontent
      ul
        #indentlists
          li Whitebox testing, blackbox testing, stress testing, load testing, performance testing, automated testing and destructive testing
          li Creating test cases for various software applications
          li Training new employees in companies QA methodologies, practices and IT technologies
          li Using the in-house bug tracking and QA system (similar to HP Quality)
          li Leading and managing a team of software testers and devising a testing plan for all software products
          li Working closely with a team of offsite and local software developers using tools such as Confluence
          li Researching and implementing new technologies to ensure efficiency and productivity
          li Maintaining the internal network and making sure the machines had minimal downtime
          li Troubleshooting issues in person, through the phone and via remote login software
          li Building and maintaining computer systems for a test lab (hardware, software, drivers and security)
          li Creating websites, documentation and FAQ for various software products and clients
          li Creating presentations and training videos for various customers and upper management

    #spacingheaders
    #indentnonelists
      h3 Interests and Hobbies:
      #spacingheaders
      ul
        #indentlists
          li Continuous education using Khan Academy, Code Academy and other online recourses
          li Learning/Researching different technologies
          li Reading (love my Kindle!)
          li Jogging and working out
          li Occasional PC/Console gaming
