body {
  margin: 0 auto;
  text-align: center;
}

#header {
  position: relative;
  width: 850px;
  height: 200px;
  margin: 0 auto;
}

#blogTitle {
  position: absolute;
  left: 10px;
  top: 140px;
  font-size: 24px;
  color: white;
  text-decoration: none;
}

#twitter {
  position: absolute;
  top: 5px;
  left: 10px;
}

#github {
  position: absolute;
  top: 5px;
  left: 45px;
}

#mozilla {
  position: absolute;
  top: 5px;
  left: 80px;
}
