body {
  margin: 0 auto;
  text-align: center;
}

#headercontainer {
  position: relative;
  width: 850px;
  height: 100%;
  margin: 0 auto;
}

#headercontainer a#logo {
  position: absolute;
  left: 10px;
  top: 140px;
  font-size: 24px;
  color: white;
  text-decoration: none;
}

#headcontainer, #socialmediacontainer {
  position: absolute;
  top: 5px;
}

#socialmediacontainer, ul#socialnav {
  margin: auto 5px;
  padding: 0px;
  list-style-type: none;
}

.linksocial {
  float: left;
}
