* {
  margin: 0px;
  padding: 0px;
}

html, body {
  height: 100%;
}

#headercontainer {
  width: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

#header  {
  height: 174px;
  background-color: #000000;
}

#imageheader {
  position: absolute;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  position: absolute;
  left: 10px;
  top: 140px;
  font-size: 24px;
  color: white;
  font-family: Verdana, 'Lucida Grande';
  text-decoration: none;
}

#socialnav {
  position: absolute;
  margin: 0px;
  padding: 0px;
  top: 5px;
  right: 10px;
  list-style: none;
}

#socialnav li {
  float: left
}

#navmenu ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#navmenu li {
  margin: 0px;
  padding: 0px;
}

#navmenu a {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

#navmenu {
  height: 70px;
  background-color: #232323;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  width: auto;
}

#navmenu > ul > li {
  float: left;
  margin-left: 15px;
  position: relative;
}

#navmenu > ul > li > a {
  color: #a0a0a0;
  font-family: Verdana, 'Lucida Grande';
  font-size: 15px;
  line-height: 70px;
  padding: 15px 20px;
  -webkit-transition: color .15s;
  -moz-transition: color .15s;
  -o-transition: color .15s;
  transition: color .15s;
}

#navmenu > ul > li > a:hover {
  color: #ffffff;
}

#footer {
  position: absolute;
  clear: both;
  margin 0px auto;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 30px;
  background-color: #232323;
}

#footer li {
  display: inline-block;
  vertical-align: middle;
}

#footer a {
  color: #a0a0a0;
  text-decoration: none;
}

#footer ul.navigationbottom {
  position: absolute;
  left: 15px;
  font-family: Verdana, 'Lucida Grande';
  font-size: 15px;
  color: #a0a0a0;
}

#footer ul.bottomcontent {
  font-size: 15px;
  font-family: Verdana, 'Lucida Grande';
  color: #a0a0a0;
  text-align: center;
}

#footer ul.navigationbottom li + li::before {
  content: "/";
  padding: 10px;
}
