#projectscontainer {
  font-family: Verdana, 'Lucida Grande';
  font-size: 13px;
  padding-top: 25px;
  padding-bottom: 40px;
  padding-left: 40px;
}

.statusOngoing {
  color: #FF0000;
  font-style: italic;
}

.statusCompleted {
  color: #008000;
  font-style: italic;
}

.books {
  font-weight: bolder;
  font-style: italic;
}

.externalLinks {
  text-decoration: none;
}

#spacing {
  padding-top: 8px;
  padding-bottom: 8px;
}

#indentlists {
  padding-left: 30px;
}
