#projectscontainer {
  font-family: Verdana, 'Lucida Grande';
  font-size: 13px;
  padding-top: 25px;
  padding-bottom: 40px;
  padding-left: 40px;
}

.statusOngoing {
  color: #FF0000;
  font-style: italic;
}

.statusCompleted {
  color: #008000;
  font-style: italic;
}

.externalLinks {
  font-size: 11px;
  text-decoration: none;
  font-weight: bold;
}

#spacing {
  padding-top: 8px;
  padding-bottom: 8px;
}

#bookSpacing {
  padding-top: 4px;
  padding-bottom: 4px;
}
